.Profile {
    min-height: calc(100vh - 60px);
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.profile-underline {
    height: 1px;
    width: 100%;
    max-width: 600px;
    border-bottom: 1px solid black;
    margin: 15px 0 0 0;
}

.profile-cont {
    width: calc(100% - 10px);
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.profile-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

.profile-date {
    margin-top: 5px;
}

.profile-row-title {
    width: 100px;
    text-align: left;
}

.profile-row-contents {
    margin-left: 7px;
    overflow-x: scroll;
}

.profile-row-link {
    margin: 0 0 0 7px;
    max-width: calc(100% - 130px);
    line-height: 35px;
    height: 35px;
    overflow-x: scroll;
}

@media screen and (max-width: 400px) {
    .profile-row-title {
       font-size: 15px; 
    }
    .profile-row-contents {
       font-size: 15px; 
    }
}