.Header {
    text-align: center;
    width: 90vw;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-logo {
    height: 70px;    
  }

  .header-right {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h3 {
    margin: 0px;
  }

  .header-avatar {
    width: 93px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  @media screen and (min-width: 1024px) {
    .header-logo {

    }

    .header-avatar {
      width: 180px;
    }
}