.Dashboard {
    min-height: calc(100vh - 60px);
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.dashboard-chips {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.dashboard-search {
    width: 300px;
    max-width: 80%;
}

.dashboard-grid-cont {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
}

.dashboard-row-cont {
    min-height: 50px;
    width: 80%;
    max-width: 450px;
    text-align: start;
    border: 1px black solid;
    border-radius: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.dashboard-row-top-cont {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5px;
}

.dashboard-technique-number {
    font-size: 18px;
    width: 25px;
    margin-left: 5px;
}

.dashboard-technique-title {
    font-size: 18px;
    margin-left: 5px;
}

.dashboard-row-bot-cont {
    height: 25px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.dashboard-switch-cont {
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.dashboard-saved-cont {
    height: 100px;
    width: 100px;
    background-color: rgb(240, 240, 240);
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.dashboard-help-cont {
    height: 75%;
    width: 90%;
    max-width: 750px;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: black;
}

.dashboard-help-underline {
    height: 1px;
    width: 75%;
    border-bottom: 2px solid black;
    margin-bottom: 15px;
}

.dashboard-help-subcont {
    width: 93%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.dashboard-help-indent {
    width: calc(100% - 15px);
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.dashboard-help-h4 {
    margin: 5px 0 5px 0;
}

.dashboard-help-p {
    font-size: 12px;
    text-align: left;
    margin: 0;
}

.dashboard-help-chips {
    width: 150px;
}



@media screen and (min-width: 1024px) {
    .dashboard-row-cont {
        margin: 10px 10px 10px 0;
    }

    .dashboard-grid-cont {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}